<div>
    <parties-form></parties-form>
    <ul>
        <li *ngFor="let party of parties">
            <a [routerLink]="['/party', party._id]">{{ party.name }}</a>
            <p>{{ party.description }}</p>
            <p>{{ party.location }}</p>
            <button (click)="removeParty(party)">X</button>
        </li>
    </ul>
</div>